discord.py[speed] @ git+https://github.com/DA-344/d.py@feat/components-v2
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus
asyncpg==0.30.0
asyncpg-stubs==0.30.1
python-dotenv==1.1.0
jishaku==2.6.0
discord-ext-modal-paginator @ git+https://github.com/Soheab/modal-paginator
Pillow==11.2.1
playwright==1.52.0
wavelink @ git+https://github.com/DA-344/wavelink
